django~=3.2
django-extensions
django-heroku
django-address
django-money
django-phone-field
dj-database-url
gunicorn
psycopg2
pydotplus
python-dotenv
whitenoise
psycopg2-binary==2.8.6
secret-key-generator
