* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.15vw;
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

::placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

header {
  margin: 0 auto 2em;
  border-bottom: 0.0625em solid #000000;
}

footer {
  margin: 2em auto 0;
  border-top: 0.0625em solid #000000;
}

h1 {
  font-size: 1.75em;
}

/* BREAKPOINT - 1599px & BELOW - {A.K.A. 1200 VIEW} */
@media screen and (max-width: 1599px) {
  /**** Adjusts Font Size So Text Is Readable and Still Scalable ****/
  .site-container {
    font-size: 1.25em;
  }
}

/* BREAKPOINT - 1199px & BELOW  - {A.K.A. 1024 VIEW} */
@media screen and (max-width: 1199px) {
  /**** Adjusts Font Size So Text Is Readable and Still Scalable ****/
  .site-container {
    font-size: 1.4em;
  }
}

/* BREAKPOINT - 1023px & BELOW  - {A.K.A. 768 VIEW} */
@media screen and (max-width: 1023px) {
  /**** Adjusts Font Size So Text Is Readable and Still Scalable ****/
  .site-container {
    font-size: 1.9em;
  }
}

/* BREAKPOINT - 767px & BELOW  - {A.K.A. 640 VIEW} */
@media screen and (max-width: 767px) {
  .site-container {
    font-size: 2.25em;
  }
}

/* BREAKPOINT - 639px & BELOW - {A.K.A. 480 VIEW} */
@media screen and (max-width: 639px) {
  .site-container {
    font-size: 3.5em;
  }
}
