{% load static chapter_4 %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>All Vehicles Page</title>
    </head>

    <body style="text-align:center" class="chapter_10">
        <h1>All Vehicles</h1>

        {% if vehicles %}
            {% for vehicle in vehicles %}
                <br />
                <p>VIN #: {{ vehicle.vin }}</p>
                <p>Price: {{ vehicle.price }}</p>
                <p>Make: {{ vehicle.make|vehicle_make }}</p>
                <p>Model: {{ vehicle.vehicle_model }}</p>
                <p>Engine: {{ vehicle.engine }}</p>
                <p>Is Sold? {{ vehicle.sold }}</p>

                {% for seller in vehicle.vehicle_sellers.all %}
                    {{ seller.username }}
                {% endfor %}

                <br /><hr />
            {% endfor %}
        {% endif %}
    </body>
</html>
