django~=4.0
django-address
django-extensions
django-filter
django-heroku
django-debug-toolbar
django-money
django-phone-field
djangorestframework
dj-database-url
gunicorn
markdown
psycopg2
psycopg2-binary
pydotplus
python-dotenv
reportlab
secret-key-generator
xhtml2pdf
whitenoise
